<!DOCTYPE html>
<div class="col-md-10 canvas"></div>
<script type = "text/javascript">
    //var whole = $("#whole");
    var playing = false;
    var lpgAudio = new sound("./audios/LPG .mp3"); // create the audio object
$(document).ready(function(){
    $( "#play" ).on('click',function(el) {

        el.stopImmediatePropagation();
        lpgAudio.play();// play the audio
        var lpgboard_position;
        var sinkNode_position;
        var electronMod_position;
        var jwire_position;
        var f2fJumper_position;
        var sdcardMod_position; 
        var sdcard_position;
        var battery_position;
        var tpMod_position;
        var solarp_position;



        if ($("#play i").attr("class")==="fas fa-play"){
            $("#play i").attr("class","fas fa-pause");
                
            if (playing===false){
                var a = $( "#lpgboard" );
                $("<img id = 'lpgboard' src = 'images/LpgBoard.png' style='position:absolute'  width = '250' height = '300'>").appendTo(".canvas");                                        
                var lpgboard_position = $("#lpgboard").offset();
                
                $( "#lpgboard" ).delay(5000).animate({// wait for 18 seconds for the description of the mote
                    left: "400",
                    top: "170"
                }, 2500,  function(){

                        
                        $("<img id = 'sinkNode_lpg' src = 'images/SinkNode.png' style= 'position:absolute' width = '300' height = '300'/>").appendTo(".canvas");
                        var sinkNode_position = $("#sinkNode_lpg").offset();
                        $( "#sinkNode_lpg" ).delay(1000).animate({  // wait for 5 seconds for the decsription of the sht25
                        left: "90",
                        top: "140"
                        }, 3000, function(){
                            $( "#sinkNode_lpg" ).position="background";
                            //line 1
                            var lpgboard_position = $("#lpgboard").offset();
                            var sinkNode_position = $("#sinkNode_lpg").offset();
                            var lpgX1 = lpgboard_position.left+22;
                            var lpgY1 = lpgboard_position.top+63;
                            var sinkX1 = sinkNode_position.left+283;
                            var sinkY1 = sinkNode_position.top+71;
                            var lpgArray1 = set_cordinates(lpgX1, lpgY1);
                            var sinkArray = set_cordinates(sinkX1, sinkY1);
                            connect_images1(lpgArray1, sinkArray, "sinkNode_lpg");

                            //line 2
                            var lpgboard_position = $("#lpgboard").offset();
                            var sinkNode_position = $("#sinkNode_lpg").offset();
                            var lpgX1 = lpgboard_position.left+22;
                            var lpgY1 = lpgboard_position.top+73;
                            var sinkX1 = sinkNode_position.left+283;
                            var sinkY1 = sinkNode_position.top+80;
                            var lpgArray1 = set_cordinates(lpgX1, lpgY1);
                            var sinkArray = set_cordinates(sinkX1, sinkY1);
                            connect_images1(lpgArray1, sinkArray, "sinkNode_lpg");

                            //line 3
                            var lpgboard_position = $("#lpgboard").offset();
                            var sinkNode_position = $("#sinkNode_lpg").offset();
                            var lpgX1 = lpgboard_position.left+22;
                            var lpgY1 = lpgboard_position.top+82;
                            var sinkX1 = sinkNode_position.left+283;
                            var sinkY1 = sinkNode_position.top+87;
                            var lpgArray1 = set_cordinates(lpgX1, lpgY1);
                            var sinkArray = set_cordinates(sinkX1, sinkY1);
                            connect_images1(lpgArray1, sinkArray, "sinkNode_lpg");

                            //line 4
                            var lpgboard_position = $("#lpgboard").offset();
                            var sinkNode_position = $("#sinkNode_lpg").offset();
                            var lpgX1 = lpgboard_position.left+22;
                            var lpgY1 = lpgboard_position.top+91;
                            var sinkX1 = sinkNode_position.left+283;
                            var sinkY1 = sinkNode_position.top+95;
                            var lpgArray1 = set_cordinates(lpgX1, lpgY1);
                            var sinkArray = set_cordinates(sinkX1, sinkY1);
                            connect_images1(lpgArray1, sinkArray, "sinkNode_lpg");

                            animateJumperW();
                        });


                });

                
                function animateJumperW(){
                    var m = $( "#jumperW_lpg" );
                    $("<img id = 'jumperW_lpg' src = 'images/jumperW.png' style='position:absolute' width = '250' height = '80'/>").appendTo(".canvas");                
                    electronMod_position = $("#jumperW_lpg").offset();

                    $( "#jumperW_lpg" ).delay(5000).animate({  // wait for 1 second
                    left: "120",
                    top: "188"
                    }, 4000, 
                    function(){
                        
                        //lines connecting the jumper wire to the lpg board
                        //line 1 horizontal
                        var lpgboard_position = $("#lpgboard").offset();
                        var sinkNode_position = $("#sinkNode_lpg").offset();
                        var lpgX1 = lpgboard_position.left+176;
                        var lpgY1 = lpgboard_position.top+46;
                        var sinkX1 = sinkNode_position.left+260;
                        var sinkY1 = sinkNode_position.top+46;
                        var lpgArray1 = set_cordinates(lpgX1, lpgY1);
                        var sinkArray = set_cordinates(sinkX1, sinkY1);
                        connect_images1(lpgArray1, sinkArray, "sinkNode_lpg");

                        //line 2 vertical
                        var lpgboard_position = $("#lpgboard").offset();
                        var sinkNode_position = $("#sinkNode_lpg").offset();
                        var lpgX1 = lpgboard_position.left+176;
                        var lpgY1 = lpgboard_position.top+45;
                        var sinkX1 = sinkNode_position.left+475;
                        var sinkY1 = sinkNode_position.top+204;
                        var lpgArray1 = set_cordinates(lpgX1, lpgY1);
                        var sinkArray = set_cordinates(sinkX1, sinkY1);
                        connect_images1(lpgArray1, sinkArray, "sinkNode_lpg");


                        
                        animateElectronMod(); 
                    });

                };

            
            function animateElectronMod(){
                var c = $( "#electronMod_lpg" );
                $("<img id = 'electronMod_lpg' src = 'images/electron.png' style='position:absolute' width = '85' height = '250'/>").appendTo(".canvas");                
                electronMod_position = $("#electronMod_lpg").offset();

                $( "#electronMod_lpg" ).delay(3000).animate({  // wait for 1 second
                left: "460",
                top: "210"
                }, 3000, 
                function(){

                    var k = $( "#antena_lpg" );
                    $("<img id = 'antena_lpg' src = 'images/antena.png' style='position:absolute' width = '200' height = '200'/>").appendTo(".canvas");                
                    electronMod_position = $("#antena_lpg").offset();

                    $( "#antena_lpg" ).delay(4000).animate({  // wait for 1 second
                    left: "290",
                    top: "433"
                    }, 3000, function(){
                        //line 1
                        var lpgboard_position = $("#lpgboard").offset();
                        var antena_position = $("#antena_lpg").offset();
                        var lpgX4 = lpgboard_position.left+40;
                        var lpgY4 = lpgboard_position.top+280;
                        var antenaX = antena_position.left+200;
                        var antenaY = antena_position.top+20;
                        var lpgArray1 = set_cordinates(lpgX4, lpgY4);
                        var antenaArray = set_cordinates(antenaX, antenaY);
                        connect_images1(lpgArray1, antenaArray, "antena_lpg");

                        animateWire(); 
                }
                );

                
            })
            };

            function animateWire(){
                $("<img id = 'wire_lpg' src = 'images/f2fjwire.png' style='position:absolute' width = '325' height = '150'/>").appendTo(".canvas");
                var d = $( "#wire_lpg" );
                battery_position = $("#wire_lpg").offset();
                $( "#wire_lpg" ).delay(3000).animate({   // delay for 0.02 seconds
                left: "205",
                top: "127"
                }, 4500,
                function(){

                    //connection line for the sink node
                    var sinkNode_position = $("#sinkNode_lpg").offset();
                    var jwire_position = $("#wire_lpg").offset();
                    var sinkX2 = sinkNode_position.left+149;
                    var sinkY2 = sinkNode_position.top+19;
                    var jwireX = jwire_position.left+45;
                    var jwireY = jwire_position.top+45;
                    var sinkArray1 = set_cordinates(sinkX2, sinkY2);
                    var jwireArray = set_cordinates(jwireX, jwireY);
                    connect_images1(sinkArray1, jwireArray, "wire_lpg");

                    //connection line for the lpg board
                    //line 1
                    var lpgboard_position = $("#lpgboard").offset();
                    var jwire_position = $("#wire_lpg").offset();
                    var lpgX2 = lpgboard_position.left+75;
                    var lpgY2 = lpgboard_position.top+101;
                    var jwireX = jwire_position.left+270;
                    var jwireY = jwire_position.top+168;
                    var lpgArray1 = set_cordinates(lpgX2, lpgY2);
                    var jwireArray = set_cordinates(jwireX, jwireY);
                    connect_images1(lpgArray1, jwireArray, "wire_lpg");

                    //line 2
                    var lpgboard_position = $("#lpgboard").offset();
                    var jwire_position = $("#wire_lpg").offset();
                    var lpgX2 = lpgboard_position.left+88;
                    var lpgY2 = lpgboard_position.top+125;
                    var jwireX = jwire_position.left+269;
                    var jwireY = jwire_position.top+168;
                    var lpgArray1 = set_cordinates(lpgX2, lpgY2);
                    var jwireArray = set_cordinates(jwireX, jwireY);
                    connect_images1(lpgArray1, jwireArray, "wire_lpg");



                animateSDCardMod()
                })

            };


            function animateSDCardMod(){
                var e = $( "#sdCardMod_lpg" ); 
                $("<img id = 'sdCardMod_lpg' src = 'images/sdcardMod.png' style='position:absolute' width = '90' height = '80'/>").appendTo(".canvas");
        
                sdCardMod_position = $("#sdCardMod_lpg").offset();  

                $( "#sdCardMod_lpg" ).delay(2000).animate({  // wait for 3 seconds
                left: "615",
                top: "178"
                }, 1000,function(){
                    //line 1
                    var lpg2X = lpgboard_position.left+550;
                    var lpg2Y = lpgboard_position.top+197;
                    var sdModX = sdCardMod_position.left+608;
                    var sdModY = sdCardMod_position.top+212;
                    var lpgArray1 = set_cordinates(lpg2X, lpg2Y);
                    var sdModArray = set_cordinates(sdModX, sdModY);
                    connect_images1(lpgArray1, sdModArray, "sdCardMod_lpg");

                    //line2
                    var lpg2X = lpgboard_position.left+550;
                    var lpg2Y = lpgboard_position.top+205;
                    var sdModX = sdCardMod_position.left+610;
                    var sdModY = sdCardMod_position.top+221;
                    var lpgArray1 = set_cordinates(lpg2X, lpg2Y);
                    var sdModArray = set_cordinates(sdModX, sdModY);
                    connect_images1(lpgArray1, sdModArray, "sdCardMod_lpg");

                    //line3
                    var lpg2X = lpgboard_position.left+550;
                    var lpg2Y = lpgboard_position.top+218;
                    var sdModX = sdCardMod_position.left+611;
                    var sdModY = sdCardMod_position.top+229;
                    var lpgArray1 = set_cordinates(lpg2X, lpg2Y);
                    var sdModArray = set_cordinates(sdModX, sdModY);
                    connect_images1(lpgArray1, sdModArray, "sdCardMod_lpg");

                    //line4
                    var lpg2X = lpgboard_position.left+550;
                    var lpg2Y = lpgboard_position.top+228;
                    var sdModX = sdCardMod_position.left+613;
                    var sdModY = sdCardMod_position.top+238;
                    var lpgArray1 = set_cordinates(lpg2X, lpg2Y);
                    var sdModArray = set_cordinates(sdModX, sdModY);
                    connect_images1(lpgArray1, sdModArray, "sdCardMod_lpg");

                    //line5
                    var lpg2X = lpgboard_position.left+550;
                    var lpg2Y = lpgboard_position.top+237;
                    var sdModX = sdCardMod_position.left+614;
                    var sdModY = sdCardMod_position.top+246;
                    var lpgArray1= set_cordinates(lpg2X, lpg2Y);
                    var sdModArray = set_cordinates(sdModX, sdModY);
                    connect_images1(lpgArray1, sdModArray, "sdCardMod_lpg");

                    //line6
                    var lpg2X = lpgboard_position.left+550;
                    var lpg2Y = lpgboard_position.top+247;
                    var sdModX = sdCardMod_position.left+616;
                    var sdModY = sdCardMod_position.top+255;
                    var lpgArray1 = set_cordinates(lpg2X, lpg2Y);
                    var sdModArray = set_cordinates(sdModX, sdModY);
                    connect_images1(lpgArray1, sdModArray, "sdCardMod_lpg");

                                      
                    // var sdModArray2 = set_cordinates(sdModX2, sdModY2);
                    // connect_images1(lpgArray, sdModArray2, "lpgboard");
                    animateSDCard();
                }

                );

            };

            function animateSDCard(){
                $("<img id = 'sdcard_lpg' src = 'images/sdCard.png' style='position:absolute' width = '65' height = '50'/>").appendTo(".canvas");
                var f = $( "#sdcard_lpg" ); 
                sdcard_position = $("#sdcard_lpg").offset();  

                $( "#sdcard_lpg" ).delay(3000).animate({  // wait for 3 seconds
                left: "700",
                top: "200"
                }, 3000,function(){
                    //horizontal line
                    var sdcard_position = $("#sdcard_lpg").offset();  
                    var sdModX = sdCardMod_position.left+683;
                    var sdModY = sdCardMod_position.top+217;
                    var sdcardX = sdcard_position.left+19;
                    var sdcardY = sdcard_position.top+17;
                    var sdModArray1 = set_cordinates(sdModX, sdModY);
                    var sdcardArray = set_cordinates(sdcardX, sdcardY);
                    connect_images1(sdModArray1, sdcardArray, "sdcard_lpg");

                    //top line
                    var sdcard_position = $("#sdcard_lpg").offset();  
                    var sdModX = sdCardMod_position.left+685;
                    var sdModY = sdCardMod_position.top+216;
                    var sdcardX = sdcard_position.left+5;
                    var sdcardY = sdcard_position.top+13;
                    var sdModArray1 = set_cordinates(sdModX, sdModY);
                    var sdcardArray = set_cordinates(sdcardX, sdcardY);
                    connect_images1(sdModArray1, sdcardArray, "sdcard_lpg");

                    //lower line
                    var sdcard_position = $("#sdcard_lpg").offset();  
                    var sdModX = sdCardMod_position.left+684;
                    var sdModY = sdCardMod_position.top+217;
                    var sdcardX = sdcard_position.left+5;
                    var sdcardY = sdcard_position.top+20;
                    var sdModArray1 = set_cordinates(sdModX, sdModY);
                    var sdcardArray = set_cordinates(sdcardX, sdcardY);
                    connect_images1(sdModArray1, sdcardArray, "sdcard_lpg");




                    animateBattery();
                }); 

            }
                

            function animateBattery(){
                var g = $( "#battery_lpg" );
                $("<img id = 'battery_lpg' src = 'images/lpgBattery.png' style='position:absolute' width = '250' height = '200'/>").appendTo(".canvas");
                
                battery_position = $("#battery_lpg").offset();
                $( "#battery_lpg" ).delay(2000).animate({   // delay for 0.02 seconds
                left: "650",
                top: "290"
                }, 3000, 
                function (){
                    //line 1
                    var lpgboard_position = $("#lpgboard").offset();
                    var battery_position = $("#battery_lpg").offset();
                    var lpg3X = lpgboard_position.left+246;
                    var lpg3Y = lpgboard_position.top+137;
                    var btryX = battery_position.left+17;
                    var btryY = battery_position.top+17;
                    var lpgArray1 = set_cordinates(lpg3X, lpg3Y);
                    var btryArray = set_cordinates(btryX, btryY);
                    console.log(lpgArray1, btryArray);
                    connect_images1(lpgArray1, btryArray, "battery_lpg");

                    //top line
                    var lpgboard_position = $("#lpgboard").offset();
                    var battery_position = $("#battery_lpg").offset();
                    var lpg3X = lpgboard_position.left+247;
                    var lpg3Y = lpgboard_position.top+136;
                    var btryX = battery_position.left+1;
                    var btryY = battery_position.top+13;
                    var lpgArray1 = set_cordinates(lpg3X, lpg3Y);
                    var btryArray = set_cordinates(btryX, btryY);
                    console.log(lpgArray1, btryArray);
                    connect_images1(lpgArray1, btryArray, "battery_lpg");

                    //lower line
                    var lpgboard_position = $("#lpgboard").offset();
                    var battery_position = $("#battery_lpg").offset();
                    var lpg3X = lpgboard_position.left+247;
                    var lpg3Y = lpgboard_position.top+136;
                    var btryX = battery_position.left+2;
                    var btryY = battery_position.top+20;
                    var lpgArray1 = set_cordinates(lpg3X, lpg3Y);
                    var btryArray = set_cordinates(btryX, btryY);
                    console.log(lpgArray1, btryArray);
                    connect_images1(lpgArray1, btryArray, "battery_lpg");


                    animateJWires()
                })

            };

            function animateJWires(){
                $("<img id = 'jwires_lpg' src = 'images/jwires.png' style='position:absolute' width = '430' height = '90'/>").appendTo(".canvas");
                var j = $( "#jwires_lpg" );
                //var wires_position = $("#jwires_lpg").offset();
                $( "#jwires_lpg" ).delay(3000).animate({   // delay for 0.02 seconds
                left: "155",
                top: "253"
                }, 4000,
                function(){
                    //connection line for the sink node
                    var sinkNode_position = $("#sinkNode_lpg").offset();
                    var wires_position = $("#jwires_lpg").offset();
                    var sink1X = sinkNode_position.left+142;
                    var sink1Y = sinkNode_position.top+78;
                    var wiresX = wires_position.left+86;
                    var wiresY = wires_position.top+5;
                    var sinkArray2 = set_cordinates(sink1X, sink1Y);
                    var wiresArray = set_cordinates(wiresX, wiresY);
                    connect_images1(sinkArray2, wiresArray, "jwires_lpg");

                    //connection line for the sink node, left line
                    var sinkNode_position = $("#sinkNode_lpg").offset();
                    var wires_position = $("#jwires_lpg").offset();
                    var sink1X = sinkNode_position.left+142;
                    var sink1Y = sinkNode_position.top+78;
                    var wiresX = wires_position.left+83;
                    var wiresY = wires_position.top+1;
                    var sinkArray2 = set_cordinates(sink1X, sink1Y);
                    var wiresArray = set_cordinates(wiresX, wiresY);
                    connect_images1(sinkArray2, wiresArray, "jwires_lpg");

                    //connection line for the sink node, right line
                    var sinkNode_position = $("#sinkNode_lpg").offset();
                    var wires_position = $("#jwires_lpg").offset();
                    var sink1X = sinkNode_position.left+142;
                    var sink1Y = sinkNode_position.top+78;
                    var wiresX = wires_position.left+90;
                    var wiresY = wires_position.top+1;
                    var sinkArray2 = set_cordinates(sink1X, sink1Y);
                    var wiresArray = set_cordinates(wiresX, wiresY);
                    connect_images1(sinkArray2, wiresArray, "jwires_lpg");


                    //connection line for the lpg board
                    //line 1
                    var lpgboard_position = $("#lpgboard").offset();
                    var wires_position = $("#jwires_lpg").offset();
                    var lpgX3 = lpgboard_position.left+199;
                    var lpgY3 = lpgboard_position.top+133;
                    var wiresX = wires_position.left+428;
                    var wiresY = wires_position.top+80;
                    var lpgArray1 = set_cordinates(lpgX3, lpgY3);
                    var wiresArray = set_cordinates(wiresX, wiresY);
                    connect_images1(lpgArray1, wiresArray, "jwires_lpg");

                    //line 2
                    var lpgboard_position = $("#lpgboard").offset();
                    var wires_position = $("#jwires_lpg").offset();
                    var lpgX3 = lpgboard_position.left+208;
                    var lpgY3 = lpgboard_position.top+133;
                    var wiresX = wires_position.left+431;
                    var wiresY = wires_position.top+85;
                    var lpgArray1 = set_cordinates(lpgX3, lpgY3);
                    var wiresArray = set_cordinates(wiresX, wiresY);
                    connect_images1(lpgArray1, wiresArray, "jwires_lpg");


                    animateTpmod();

                })

            };


            function animateTpmod(){
                $("<img id = 'tpMod_lpg' src = 'images/tp4056 module.png' style='position:absolute' width = '100' height = '100'/>").appendTo(".canvas");
                var h = $("#tpMod_lpg");
                tpMod_position = $("#tpMod_lpg").offset();
                $( "#tpMod_lpg" ).delay(4500).animate({   // delay for 0.02 seconds
                left: "550",
                top: "345"
                }, 8000,
                function(){
                    //line 1
                    var lpgboard_position = $("#lpgboard").offset();
                    var DsRTC_position = $("#tpMod_lpg").offset();
                    var lpg1X = lpgboard_position.left+199;
                    var lpg1Y = lpgboard_position.top+179;
                    var tpModX = tpMod_position.left+586;
                    var tpModY = tpMod_position.top+361;
                    var lpgArray1 = set_cordinates(lpg1X, lpg1Y);
                    var tpModArray = set_cordinates(tpModX, tpModY);
                    console.log(lpgArray1, tpModArray);
                    connect_images1(lpgArray1, tpModArray, "tpMod_lpg");

                    //line 2
                    var lpgboard_position = $("#lpgboard").offset();
                    var DsRTC_position = $("#tpMod_lpg").offset();
                    var lpg1X = lpgboard_position.left+206;
                    var lpg1Y = lpgboard_position.top+180;
                    var tpModX = tpMod_position.left+593;
                    var tpModY = tpMod_position.top+361;
                    var lpgArray1 = set_cordinates(lpg1X, lpg1Y);
                    var tpModArray = set_cordinates(tpModX, tpModY);
                    console.log(lpgArray1, tpModArray);
                    connect_images1(lpgArray1, tpModArray, "tpMod_lpg");

                    //line 3
                    var lpgboard_position = $("#lpgboard").offset();
                    var DsRTC_position = $("#tpMod_lpg").offset();
                    var lpg1X = lpgboard_position.left+235;
                    var lpg1Y = lpgboard_position.top+181;
                    var tpModX = tpMod_position.left+619;
                    var tpModY = tpMod_position.top+361;
                    var lpgArray1 = set_cordinates(lpg1X, lpg1Y);
                    var tpModArray = set_cordinates(tpModX, tpModY);
                    console.log(lpgArray1, tpModArray);
                    connect_images1(lpgArray1, tpModArray, "tpMod_lpg");

                    //line 4
                    var lpgboard_position = $("#lpgboard").offset();
                    var DsRTC_position = $("#tpMod_lpg").offset();
                    var lpg1X = lpgboard_position.left+243;
                    var lpg1Y = lpgboard_position.top+181;
                    var tpModX = tpMod_position.left+626;
                    var tpModY = tpMod_position.top+361;
                    var lpgArray1 = set_cordinates(lpg1X, lpg1Y);
                    var tpModArray = set_cordinates(tpModX, tpModY);
                    console.log(lpgArray1, tpModArray);
                    connect_images1(lpgArray1, tpModArray, "tpMod_lpg");
                   
                    animateSolarPanel();
                })

            };

            function animateSolarPanel(){
                $("<img id = 'solarp_lpg' src = 'images/solar panel 0.png' style='position:absolute' width = '150' height = '100'/>").appendTo(".canvas");
                var l = $( "#solarp_lpg" ); 
                solarp_position = $("#solarp_lpg").offset();  

                $( "#solarp_lpg" ).delay(5000).animate({  // wait for 3 seconds
                left: "505",
                top: "565"
                }, 7000,function(){
                    //line 1
                    var solarp_position = $("#solarp_lpg").offset();  
                    var lpg4X = lpgboard_position.left+600;
                    var lpg4Y = lpgboard_position.top+450;
                    var solarpX = solarp_position.left+103;
                    var solarpY = solarp_position.top+7;
                    var lpgArray1 = set_cordinates(lpg4X, lpg4Y);
                    var solarpArray = set_cordinates(solarpX, solarpY);
                    connect_images1(lpgArray1, solarpArray, "solarp_lpg");

                    //line 2
                    var solarp_position = $("#solarp_lpg").offset();  
                    var lpg4X = lpgboard_position.left+608;
                    var lpg4Y = lpgboard_position.top+450;
                    var solarpX = solarp_position.left+109;
                    var solarpY = solarp_position.top+7;
                    var lpgArray1 = set_cordinates(lpg4X, lpg4Y);
                    var solarpArray = set_cordinates(solarpX, solarpY);
                    connect_images1(lpgArray1, solarpArray, "solarp_lpg");;

                    animateDsRTC();
                    
                }); 

            }

            
            function animateDsRTC(){
                var i = $( "#dsRTC_lpg" );
                $("<img id = 'dsRTC_lpg' src = 'images/DS 3231RTC.png' style='position:absolute' width = '90' height = '100'/>").appendTo(".canvas");
                
                DsRTC_position = $("#dsRTC_lpg").offset();
                $( "#dsRTC_lpg" ).delay(6000).animate({   // delay for 0.02 seconds
                left: "443",
                top: "65"
                }, 8000, function(){

                    //line 1
                    var lpgboard_position = $("#lpgboard").offset();
                    var DsRTC_position = $("#dsRTC_lpg").offset();
                    var lpgX1 = lpgboard_position.left+66;
                    var lpgY1 = lpgboard_position.top+36;
                    var dsX1 = DsRTC_position.left+21;
                    var dsY1 = DsRTC_position.top+96;
                    var lpgArray1 = set_cordinates(lpgX1, lpgY1);
                    var dsArray = set_cordinates(dsX1, dsY1);
                    connect_images1(lpgArray1, dsArray, "lpgboard");

                    //line 2
                    var lpgboard_position = $("#lpgboard").offset();
                    var DsRTC_position = $("#dsRTC_lpg").offset();
                    var lpgX1 = lpgboard_position.left+75;
                    var lpgY1 = lpgboard_position.top+36;
                    var dsX1 = DsRTC_position.left+30;
                    var dsY1 = DsRTC_position.top+97;
                    var lpgArray1 = set_cordinates(lpgX1, lpgY1);
                    var dsArray = set_cordinates(dsX1, dsY1);
                    connect_images1(lpgArray1, dsArray, "lpgboard");

                    //line 3
                    var lpgboard_position = $("#lpgboard").offset();
                    var DsRTC_position = $("#dsRTC_lpg").offset();
                    var lpgX1 = lpgboard_position.left+84;
                    var lpgY1 = lpgboard_position.top+36;
                    var dsX1 = DsRTC_position.left+39;
                    var dsY1 = DsRTC_position.top+97;
                    var lpgArray1 = set_cordinates(lpgX1, lpgY1);
                    var dsArray = set_cordinates(dsX1, dsY1);
                    connect_images1(lpgArray1, dsArray, "lpgboard");

                    //line 4
                    var lpgboard_position = $("#lpgboard").offset();
                    var DsRTC_position = $("#dsRTC_lpg").offset();
                    var lpgX1 = lpgboard_position.left+93;
                    var lpgY1 = lpgboard_position.top+36;
                    var dsX1 = DsRTC_position.left+48;
                    var dsY1 = DsRTC_position.top+97;
                    var lpgArray1 = set_cordinates(lpgX1, lpgY1);
                    var dsArray = set_cordinates(dsX1, dsY1);
                    connect_images1(lpgArray1, dsArray, "lpgboard");

                    //line 5
                    var lpgboard_position = $("#lpgboard").offset();
                    var DsRTC_position = $("#dsRTC_lpg").offset();
                    var lpgX1 = lpgboard_position.left+102;
                    var lpgY1 = lpgboard_position.top+36;
                    var dsX1 = DsRTC_position.left+57;
                    var dsY1 = DsRTC_position.top+97;
                    var lpgArray1 = set_cordinates(lpgX1, lpgY1);
                    var dsArray = set_cordinates(dsX1, dsY1);
                    connect_images1(lpgArray1, dsArray, "lpgboard");

                    //line6
                    var lpgboard_position = $("#lpgboard").offset();
                    var DsRTC_position = $("#dsRTC_lpg").offset();
                    var lpgX1 = lpgboard_position.left+111;
                    var lpgY1 = lpgboard_position.top+36;
                    var dsX1 = DsRTC_position.left+66;
                    var dsY1 = DsRTC_position.top+97;
                    var lpgArray1 = set_cordinates(lpgX1, lpgY1);
                    var dsArray = set_cordinates(dsX1, dsY1);
                    connect_images1(lpgArray1, dsArray, "lpgboard");
                    
                    
                })

            };

        
            
            playing=true;

                           
        }else{
            //resume function 
            var a = $( "#lpgboard" ).resume();
            var b = $("#sinkNode_lpg").resume();
            var c = $("#electronMod_lpg").resume();
            var d = $("#wire_lpg").resume();
            var e = $("#sdCardMod_lpg").resume();      
            var f = $("#sdcard_lpg").resume();
            var g = $("#battery_lpg").resume();
            var h = $("#tpMod_lpg").resume();
            var i = $("#dsRTC_lpg").resume();
            var j = $("#jwires_lpg").resume();
            var k = $("#antena_lpg").resume();
            var l = $("#solarp_lpg").resume();
            var m = $("#jumperW_lpg").resume();
            
               
                }
        }else{
            //pause function
            $("#play i").attr("class","fas fa-play");
            lpgAudio.pause();
            var a = $("#lpgboard" ).pause();
            var b = $("#sinkNode_lpg").pause();
            var c = $("#electronMod_lpg").pause();
            var d = $("#wire_lpg").pause();      
            var e = $("#sdCardMod_lpg").pause();
            var f = $("#sdcard_lpg").pause();               
            var g = $("#battery_lpg").pause();                  
            var h = $("#tpMod_lpg").pause();                  
            var i = $("#dsRTC_lpg").pause();
            var j = $("#jwires_lpg").pause();
            var k = $("#antena_lpg").pause();
            var l = $("#solarp_lpg").pause();
            var m = $("#jumperW_lpg").pause();
            }
            
            
        });
    
        //stop function
        $("#stop").click(function(){

            $("#lpgboard" ).stop(true);
            $("#sinkNode_lpg").stop(true);
            $("#electronMod_lpg").stop(true);
            $("#wire_lpg").stop(true);
            $("#sdCardMod_lpg").stop(true);
            $("#sdcard_lpg").stop(true);
            $("#battery_lpg").stop(true);
            $("#tpMod_lpg").stop(true);
            $("#dsRTC_lpg").stop(true);
            $("#jwires_lpg").stop(true);
            $("#antena_lpg").stop(true);
            $("#solarp_lpg").stop(true);
            $("#jumperW_lpg").stop(true);
           
            playing = false;
            lpgAudio.stop();
            
            $(".canvas").empty();
            $(".canva").empty().append($("<div class='col-md-10 canvas'/>"));

            //change pause icon to play icon on stop
            $("#play i").attr("class","fas fa-play");

        });


    });

            
</script>
