
        <div class  = "card">
          <div class="card-body">
            <div class="media border p-3">
              <!--THE COMPONENT'S IMAGE-->
              <img id="compImage" src="images/wimea2.jpeg" alt="Unavailable" class="mr-3 mt-3 rounded" style="width:210px; height: 200px;"></img>
              <div class="media-body">
                <h4 class="compName">Information About WIMEA-ICT AWS</h4>
                <!-- THE COMPONENT'S PURPOSE -->
                <p id="compPurpose" class="lead">
				The WIMEA-ICT Automatic Weather Station (AWS) is composed four wireless sensor nodes.
				These nodes are named after the distance of placement of the sensors, which are connected to the respective wireless sensor nodes. 
				Three of the nodes are source nodes, which collect weather data and send it using IEEE 802.15.4 protocol to the fourth wireless sensor node, 
				also known as the sink node. The source nodes include the 10m, 2m and ground node. 
				The sink node receives data from the source nodes and stores them temporarily on the gateway, which later transmits it data to a repository, 
				over the Internet. Each node is equipped with a power supply.
				</p>
              </div>
            </div>
            <!-- THE COMPONENT'S DESCRIPTION -->
            <div class="row">
              <div class="border mt-2 col-md-12">
                <h4 class="">Description </h4>
                <p id="compDescription">
				The WIMEA-ICT AWS is composed of
				<li>Ten meter node:Wind Speed, Wind Direction, Humidity, Solar radiation</li>
				<li>Two meter node:Temperature, Humidity</li>
				<li>Ground node:Soil Temperature, Soil Moisture</li>
				<li>Sink node.Temperature, atmospheric pressure, Humidity.</li>
								</p>
              </div>
            </div>
            <!-- THE COMPONENT'S LINK -->
            
          <!-- THE COMPONENT'S LINK -->
          
        </div>
      </div>
      
   