<div>
        <div class  = "card">
          <div class="card-body">
            <div class="media border p-3">
              <!--THE COMPONENT'S IMAGE-->
              <img id="compImage" src="images/tennode.jpg" alt="Unavailable" class="mr-3 mt-3 rounded" style="width:210px; height: 200px;"></img>
              <div class="media-body">
                <h4 class="compName">Ground node</h4>
                <!-- THE COMPONENT'S PURPOSE -->
                <p id="compPurpose" class="lead">
                    Used to measure the temperature profile of the soil,volumetric water content of soil and the amount of liquid precipitation over a set period of time.
                </p>
              </div>
            </div>
            <!-- THE COMPONENT'S DESCRIPTION -->
            <div class="row">
              <div class="border mt-2 col-md-12">
                <h4 class="">Description </h4>
                <p id="compDescription">
                    The Ground node is  in the designed following ways<br>
					The RSS2 Mote is connected first,
					lithium-ion capacitor is connected on the RSS2 using jumper wires,
					Boot converter is connected on capacitor,
					Solar plane is connected on converter to supply power,
					Soil temperature is connected on RSS2 using jumper wires
					and Soil moisture sensor is connected on RSS2 using jumper wires.
                    It was built for WIMEA-ICT Gen 3 Automatic weather stations.
                </p>
              </div>
            </div>
            <!-- THE COMPONENT'S LINK -->
            <div class="row">
              <div class="mt-2 col-md-12">
                <h4 class="">Components </h4>
                <ul class="list-group" id="compProperties">
                  <li>RSS2 Mote:To collect, process, store and transmit weather parameters to a remote repository.</li>
                  <li>lithium-ion capacitor:A hybrid type of capacitor classified as a type of supercapacitor. Activated carbon is typically used as the cathode.</li>
                  <li>Boot converter:A DC-to-DC power converter that steps up voltage (while stepping down current) from its input (supply) to its output (load).</li>
                  <li>Soil temperature sensor:Measures the temperature profile of the soil at 5 depths close to its surface.</li>
                  <li>Soil moisture sensor:Measure the volumetric water content of soil. This makes it ideal for performing experiments in courses such as soil science.</li>
                  <li>Solar plane:To supply power to the RSS2 MOTE.</li>
                  <li>Rain gauge:To gather and measure the amount of liquid precipitation over a set period of time.</li>
				  <li>Pressure sensor:A device for pressure measurement of gases or liquids.</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- THE COMPONENT'S LINK -->
          <div class="card-footer">
            <a id="compLink" type="submit" href="#" class="btn btn-primary btn-block" target="_blank">More Details</a>
          </div>
        </div>
      </div>
      