<div>
        <div class  = "card">
          <div class="card-body">
            <div class="media border p-3">
              <!--THE COMPONENT'S IMAGE-->
              <img id="compImage" src="images/WIMEA.png" alt="Unavailable" class="mr-3 mt-3 rounded" style="width:210px; height: 200px;"></img>
              <div class="media-body">
                <h4 class="compName">10 Meter Node</h4>
                <!-- THE COMPONENT'S PURPOSE -->
                <p id="compPurpose" class="lead">
                    Used to receive weather data from the nodes using the sink node and then send it to the WIMEA-ICT server via the internet using the electron modem
                </p>
              </div>
            </div>
            <!-- THE COMPONENT'S DESCRIPTION -->
            <div class="row">
              <div class="border mt-2 col-md-12">
                <h4 class="">Description </h4>
                <p id="compDescription">
                    The 10m node has wind direction and speed and solar insolation sensors. The node is installed 10m from the ground.
                    <br>
                    The 10 Meter Node was designed to .
                    It was built for WIMEA-ICT Gen 3 Automatic weather stations.
                </p>
              </div>
            </div>
            <!-- THE COMPONENT'S LINK -->
            <div class="row">
              <div class="mt-2 col-md-12">
                <h4 class="">Components </h4>
                <ul class="list-group" id="compProperties">
                  <li>RSS2 mote:</li>
                  <li>lithium-ion capacitor:</li>
                  <li>Boot converter:</li>
                  <li>Anenometer:</li>
                  <li>Wind vane:</li>
                  <li>Solar plane:</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- THE COMPONENT'S LINK -->
          <div class="card-footer">
            <a id="compLink" type="submit" href="#" class="btn btn-primary btn-block" target="_blank">More Details</a>
          </div>
        </div>
      </div>
      