<div>
        <div class  = "card">
          <div class="card-body">
            <div class="media border p-3">
              <!--THE COMPONENT'S IMAGE-->
              <img id="compImage" src="images/twonode.jpg" alt="Unavailable" class="mr-3 mt-3 rounded" style="width:210px; height: 200px;"></img>
              <div class="media-body">
                <h4 class="compName">Two meter node</h4>
                <!-- THE COMPONENT'S PURPOSE -->
                <p id="compPurpose" class="lead">
                    Used to measure the temperature and humidity.
                </p>
              </div>
            </div>
            <!-- THE COMPONENT'S DESCRIPTION -->
            <div class="row">
              <div class="border mt-2 col-md-12">
                <h4 class="">Description </h4>
                <p id="compDescription">
                    Two meter node is designed in the following ways<br>
					The RSS2 Mote is connected first,
					lithium-ion capacitor is connected on the RSS2 using jumper wires,
					Boot converter is connected on capacitor and
					Solar plane is connected on converter to supply power
                    and finally SHT25 sensor is connected on RSS2 using jumper wires.
					The node is installed 10m from the ground.
                    It was built for WIMEA-ICT Gen 3 Automatic weather stations.
                </p>
              </div>
            </div>
            <!-- THE COMPONENT'S LINK -->
            <div class="row">
              <div class="mt-2 col-md-12">
                <h4 class="">Components </h4>
                <ul class="list-group" id="compProperties">
                  <li>RSS2 mote:To collect, process, store and transmit weather parameters to a remote repository.</li>
                  <li>SHT25 sensor:An efficient device to measure the temperature and humidity.</li>
                  <li>lithium-ion capacitor:A hybrid type of capacitor classified as a type of supercapacitor. Activated carbon is typically used as the cathode.</li>
                  <li>Boost converter:A DC-to-DC power converter that steps up voltage (while stepping down current) from its input (supply) to its output (load).</li>
                  <li>0.5w Solar Plane:To supply power to the RSS2 MOTE.</li>
                  <li>I2C cable:For managing time and date.</li>
				  <li>12mm pipe:for holding SHT25 Sensor</li>

                </ul>
              </div>
            </div>
          </div>
          <!-- THE COMPONENT'S LINK -->
          <div class="card-footer">
            <a id="compLink" type="submit" href="#" class="btn btn-primary btn-block" target="_blank">More Details</a>
          </div>
        </div>
      </div>
      